* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
            background-image: url("https://images.unsplash.com/photo-1485470733090-0aae1788d5af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1991&q=80"); 
            min-height: 100vh;
            top right no-repeat; 
            background-attachment:fixed;
            color: white;
            font-size: 1.5rem;
}
.removeText {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    font-weight: bolder;
    cursor: pointer;
    padding: 4px 15px;
    display: inline;
    border-radius: 30px;
    text-align: center;
    border: 1px solid #fff;
}
